[Unit]
Description=Frillsberry
After=docker.service
After=queube-worker.service
Requires=docker.service
Requires=queube-worker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=/bin/bash -c "/bin/systemctl set-environment REDIS=$(ifconfig docker0 | grep 'inet ' | awk '{ print $2 }')"
ExecStart=/usr/bin/docker run --rm --env REDIS=${REDIS} --name frillsberry pikesley/frillsberry

[Install]
WantedBy=multi-user.target
